.chat-wrapper {
  height: 100%;
  width: 100%;
  background: #f7f7f7;
  overflow: auto;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  background: #fff;
  margin: 5px;
}

.loading {
  color: #fff;
  background: rgb(200, 0, 0);
}
